.fondo-navbar{
    background-color: #FFB500;
    color: black;
    text-align: center;
}

.botonsalir{
    background-color: #D3CEF8;
}

.imagenes-carrusel1{
    height: 520px;
    background-position: center;
    background-repeat: no-repeat;
}

.imagenes-carrusel2{
    height: 520px;
    background-position: center;
    background-repeat: no-repeat;
}

.imagenes-carrusel3{
    height: 520px;
    background-position: center;
    background-repeat: no-repeat;
}

@media all and (max-width: 731px), (max-height: 411px){
    .contenedorbotonsalir{
        text-align: center;
        margin: auto;
    }   

}    
@media screen and (min-width: 901px) {
    .imagenes-carrusel1 {
        background-image: url("../Imagenes/frase1.png");
        max-width: 100%;
        background-size: 100% 520px;
    }
    .imagenes-carrusel2 {
        background-image: url("../Imagenes/frase2.png");
        max-width: 100%;
        background-size: 100% 520px;
    }
    .imagenes-carrusel3 {
        background-image: url("../Imagenes/frase3.png");
        max-width: 100%;
        background-size: 100% 520px;
    }
}

@media screen and (max-width: 900px) {
    .imagenes-carrusel1 {
         background-image: url("../Imagenes/frase1-900px.png");
         max-width: 100%;
         background-size: 100% 520px;
    }
    .imagenes-carrusel2 {
        background-image: url("../Imagenes/frase2-900px.png");
        max-width: 100%;
        background-size: 100% 520px;
   }
   .imagenes-carrusel3 {
        background-image: url("../Imagenes/frase3-900px.png");
        max-width: 100%;
        background-size: 100% 520px;
   }
}

@media screen and (max-width: 550px) {
    .imagenes-carrusel1 {
        background-image: url("../Imagenes/frase1-500px.png");
        max-width: 100%;
        background-size: 100% 400px;
        height: 400px;
    }
    .imagenes-carrusel2 {
        background-image: url("../Imagenes/frase2-500px.png");
        max-width: 100%;
        background-size: 100% 400px;
        height: 400px;
   }
   .imagenes-carrusel3 {
        background-image: url("../Imagenes/frase3-500px.png");
        max-width: 100%;
        background-size: 100% 400px;
        height: 400px;
   }
}

@media screen and (max-width: 350px) {
    .imagenes-carrusel1 {
        background-image: url("../Imagenes/frase1-350px.png");
        max-width: 100%;
        background-size: 100% 350px;
        height: 350px;
    }
    .imagenes-carrusel2 {
        background-image: url("../Imagenes/frase2-350px.png");
        max-width: 100%;
        background-size: 100% 350px;
        height: 350px;
   }
   .imagenes-carrusel3 {
        background-image: url("../Imagenes/frase3-350px.png");
        max-width: 100%;
        background-size: 100% 350px;
        height: 350px;
   }
}
  