.ContenedorPrincipalPL{
    background-color: #F4EFEF;
    font-family: helvetica;
    color: black;
}
.ContenedorLogo{
    text-align: center;
    margin: auto;
}

.ContenedorLogin{
    margin: auto;
}
.Tarjeta{
    margin: auto;
    background-color: #FFB500;
    border-radius: 20px;
    width: 80%;
    max-width: 500px;
}

.Tarjeta2-registro-pr{
    background: -webkit-linear-gradient(90deg, #FFB500 30%, #FAD7E4 70%);
    border-radius: 20px;
    width: 80%;
    max-width: 500px;
    margin: auto;
}

.titulosecu-login{
    padding: 40px 0px;
    text-align: center;
}
.margenes-form{
    margin: 3px 35px;
    display: flex;
}
.Camposdeingreso{
    margin: 10px 10px;
}
.Tamañoiconologin{
    width: 23px;
    height: 23px;
}
.Contenedor-Camposinput{
    display: block;
}
.titulosinputs{
    text-align: left;
    padding: 5px 35px;
    font-family: helvetica neue;
}
.botoningreso{
    background-color: #D3CEF8;
    width: 100%;
}
.contenedorbotoningreso{
    text-align: center;
    margin: 25px 35px;
}
.ultimotitulo-login{
    text-align: center;
    padding-bottom: 20px;
}