.margenes-cards-pmt{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.contenedor1boton-pmt{
    background-color: #D3CEF8;
    height: 86px;
}
.boton-pmt{
    background-color: #FFB500;
}
.contenedor-boton-agretarea{
    text-align: center;
    justify-content: center;
}
.boton-guardarlink-pl{
    background-color: #FFB500;
}
.contenedor-MisTareasform{
    margin: 20px 300px;
}


@media screen and (max-width: 1400px) {
    .contenedor-MisTareasform{
        margin: 20px 150px;
    }   
}

@media screen and (max-width: 1000px) {
    .contenedor-MisTareasform{
        margin: 20px 80px;
    }
}

@media screen and (max-width: 870px) {
    .contenedor-MisTareasform{
        margin: 20px 40px;
    }
}

@media screen and (max-width: 800px) {
    .contenedor-MisTareasform{
        margin: 20px 20px;
    }
}

@media screen and (max-width: 550px) {
    .contenedor-MisTareasform{
        margin: 20px 10px;
    }
}

@media screen and (max-width: 400px) {
    .contenedor-MisTareasform{
        margin: 20px 5px;
    }
}

